24.02 Functions.h 
24.02 Practise.cpp
05.02 Lesson.cpp
12.02 Lesson.cpp
17.02 Practise.cpp
19.02 Lesson.cpp
Lessons and Practise.vcxproj
Lessons and Practise.vcxproj.filters
Lessons and Practise.vcxproj.user
MegaFunctions.h
MyMath.h
x64/